<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Papafu</title>
</head>

<body>


    <header>
        <nav>
            <div id="logo">
                <div class="logo-circle"></div>
                <strong class="logo-title">PAPAFU</strong>
            </div>
            <ul>
                <a href="#">
                    <li>shop</li>
                </a>
                <a href="#">
                    <li>about</li>
                </a>
                <a href="#">
                    <li>contact</li>
                </a>
            </ul>
            <div class="user-infos">
                <span>Angel w</span>
                <a href="#">sign out</a>
            </div>
        </nav>
        <div class="squares">
            <div class="square square-1"></div>
            <div class="square square-2"></div>
            <div class="square square-3"></div>
            <div class="square square-4"></div>
        </div>
    </header>

    <main>
        <div class="headline-container">
            <img src="images/design.png" alt="un salon design">
            <div class="headline-text">
                <h1>HEADLINE</h1>
                <h2>SUBHEAD</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, facilis consectetur natus
                    dolorem repudiandae nostrum? Minus, sed distinctio.</p>

                <button class="btn-green">Read More</button>
            </div>
        </div>
        <aside>
            <div class="aside-adding">
                <p>ADDING <br />FUNCTIONAL <br />UTILITY.</p>
                <div class="icons-container">
                    <div class="icon icon-1"></div>
                    <div class="icon icon-2"></div>
                    <div class="icon icon-3"></div>
                </div>
            </div>
            <div class="aside-field-notes">
                <div class="img">
                    <img src="images/agenda.png" alt="Unagenda">
                </div>
                <div class="aside-field-notes-text">
                    <h3>FIELD NOTES</h3>
                    <p>Giving memo writing a new existence.</p>
                    <button class="btn-green">Buy now</button>
                </div>
            </div>
            <div class="aside-in-touch">
                <div class="in-touch">Let's stay in touch.</div>
                <button class="btn btn-green-filled">SIGN UP</button>
            </div>
            <div class="aside-made-by">
                <p>MADE BY PAPAFU</p>
            </div>
            <div class="aside-papafu">
                <span>PA</span>
                <span>PA</span>
                <span>FU</span>
            </div>
            <div class="aside-contact">
                <div>
                    <h4>CONTACT US</h4>
                    <p>info@papfu.com</p>
                    <p>(852) 9832 7176</p>
                </div>
                <div>
                    <h4>FOLLOW US</h4>
                    <p>Facebook</p>
                    <p>Twitter</p>
                    <p>Instagram</p>
                </div>
            </div>
        </aside>
    </main>


</body>

</html>